---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bio -> Carter">
  <div>
    <div>
      <h1>Carter Santucci</h1>
      <img src="/public/carter.jpeg" />
    </div>
    <div>
      <h2>Skills && Interests</h2>
      <ul>
        <li>Backend Website Development and scripting</li>
        <li>PHP</li>
        <li>Html</li>
        <li>Css</li>
        <li>Python</li>
        <li>React Js</li>
        <li>SOT Cheating</li>
        <li>Python</li>
        <li>CPP</li>
      </ul>
      <h2>Education && Acomplishments</h2>
      <ul>
        <li>Senior at MCCTC</li>
        <li>Gemoetrics: db, software engineering, python</li>
        <li>Qualified for Regionals in Website Design Team</li>
      </ul>
      <h2>Contact Information</h2>
      <div>
        <div>
          <p>Github</p>
          <a href="https://github.com/cheeriosbb"
            >https://github.com/cheeriosbb</a
          >
        </div>
        <div>
          <p>Linkedin</p>
          <a href=""></a>
        </div>
        <div>
          <p>Email</p>
          <a href=""></a>
        </div>
        <div>
          <p>Phone Number</p>
          <a></a>
        </div>
      </div>
    </div>
  </div>

  <style>
    .navbar {
      height: 80px;
    }
  </style>
</Layout>
