---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title = "Bio -> Chase Hutcheson">
    
    <div>
        
        <div class=" hero-container">
            <div class="text">
                <h1 class=" text">Chase</h1>
                <h1 class=" text">Hutcheson</h1>
            </div>
            <img src="./public/chase.jpg" class="image"/>
        </div>
        <div>
            <h2>Skills && Interests</h2>
            <ul>
                <li>Backend Website Development</li>
                <li>RACIST</li>
                <li>Food</li>
                <li>PHP</li>
                <li>Html</li>
                <li>Css</li>
                <li>Python</li>
                <li>React Js</li>
                <li>Java Script</li>
                <li>Python</li>
            </ul>
            <h2>Education && Acomplishments</h2>
            <ul>
                <li>Senior at MCCTC</li>
                <li>Gemoetrics: db, software engineering, python</li>
                <li>Qualified for Nationals in Website Application Team</li>
            </ul>
            <h2>Contact Information</h2>
            <div>
                <div>
                    <p>Github</p>
                    <a href="https://github.com/chasehutcheson">https://github.com/chasehutcheson</a>
                </div>
                <div>
                    <p>Linkedin</p>
                    <a href=""></a>
                </div>
                <div>
                    <p>Email</p>
                    <a href=""></a>
                </div>
                <div>
                    <p>Phone Number</p>
                    <a></a>
                </div>
            </div>
        </div>
    </div>
</Layout>
<style>
    .navbar{
        height: 80px;
    }
    .hero-container{
        display: flex;
        flex-direction: row;
    }
    .image {
        width: 500px;
        height: 500px;
    }
    h1 {
        font-size: 90px;
        font-weight: ;
    }
</style>