---
import Layout from "../layouts/Layout.astro";


---
<Layout title = "Bio -> Chase Hutcheson">
    <div>
        <div>
            <h1>Chase Hutch-e-son</h1>
            <img src="https://trello.com/1/cards/65b141b060e11c08fd07e9f6/attachments/65b141e90a69107dbf03fc08/previews/65b141ea0a69107dbf03fc4d/download/1695243063137.jpg"/>    
        </div>
        <div>
            <h2>Skills && Interests</h2>
            <ul>
                <li>Backend Website Development</li>
                <li>Food</li>
                <li>PHP</li>
                <li>Html</li>
                <li>Css</li>
                <li>Python</li>
                <li>React Js</li>
                <li>Java Script</li>
                <li>Python</li>
            </ul>
            <h2>Education && Acomplishments</h2>
            <ul>
                <li>Senior at MCCTC</li>
                <li>Gemoetrics: db, software engineering, python</li>
                <li>Qualified for Nationals in Website Application Team</li>
            </ul>
            <h2>Contact Information</h2>
            <div>
                <div>
                    <p>Github</p>
                    <a href="https://github.com/chasehutcheson">https://github.com/chasehutcheson</a>
                </div>
                <div>
                    <p>Linkedin</p>
                    <a href=""></a>
                </div>
                <div>
                    <p>Email</p>
                    <a href=""></a>
                </div>
                <div>
                    <p>Phone Number</p>
                    <a></a>
                </div>
            </div>
        </div>
    </div>
</Layout>