---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Alphalink Web Devs">
  <main title="Alphalink Web Devs">
    <Navbar />
  </main>
</Layout>

<style></style>
