---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";


---
<Layout title = "Bio -> Chase Hutcheson">
    
    <div>
        
        <div>
            <h1>Noah DIaHna</h1>
            <img width="400" src="public/Dev-Youngstown-logo.svg"/>    
        </div>
        <div>
            <h2>Skills && Interests</h2>
            <ul>
                <li>Web Development</li>
                <li>Web Development</li>
                <li>Web Development</li>
                <li>Web Development</li>
                <li>Web Development</li>
                <li>Mobile Development</li>
            </ul>
            <h2>Education && Acomplishments</h2>
            <ul>
                <li>Senior at MCCTC</li>
                <li>Dev Youngstown</li>
                <li>4th Place in BPA Web App (Loser)</li>
                <li>HTML/CSS, HTML5, Python, Database</li>
            </ul>
            <h2>Contact Information</h2>
            <div>
                <div>
                    <p>Github</p>
                    <a href="https://github.com/chasehutcheson">https://github.com/expwr</a>
                </div>
                <div>
                    <p>Linkedin</p>
                    <a href="https://www.linkedin.com/in/noah-diana-2898b1272/">https://www.linkedin.com/in/noah-diana-2898b1272/</a>
                </div>
                <div>
                    <p>Email</p>
                    <a href="diana_noah@student.mahoningctc.com">diana_noah@student.mahoningctc.com</a>
                </div>
            </div>
        </div>
    </div>
</Layout>
<style>
    .navbar{
        height: 80px;
    }
</style>