<div class="hero-section">
  <h1>Alphalink Web Devs</h1>
  <div class="info-container">
    <p>
       Empowering Digital Innovation: Our mission as a dynamic team of web developers is to craft cutting-edge solutions that transcend boundaries, creating seamless and impactful web experiences. Guided by a passion for innovation and a commitment to excellence, we strive to transform ideas into visually stunning and functionally robust websites. With a relentless pursuit of technological advancements and a collaborative spirit, we aim to empower businesses and individuals in navigating the ever-evolving digital landscape. Our mission is to be at the forefront of web development, driving positive change and delivering solutions that inspire and elevate the online world.
    </p>
    <a href="#learn-more">Learn More</a>
  </div>
</div>

<style>
  .hero-section {
    background: linear-gradient(45deg, black, #8c52ff);
    background-position: center;
    color: black;
    text-align: center;
    padding: 100px 20px;
  }

  .hero-section h1 {
    font-size: 3.5em;
    letter-spacing: 5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    margin-bottom: 20px;
  }

  .info-container {
  }

  .info-container p {
    margin: auto;
    width: 40%;
    text-align: center;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-items: center;
    font-size: 1.2em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    margin-bottom: 30px;
  }

  .info-container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db; /* Change the color to your preference */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
  }
</style>
