<div class="hero-section">
    <h1>Random Name</h1>
    <p>Inovate First, Think Later</p>
    <a href="#learn-more">Learn More</a>
</div>

<style>

.hero-section {
    background: linear-gradient(45deg, black, #8C52FF);
    background-position: center;
    color: black;
    text-align: center;
    padding: 100px 20px;
}

.hero-section h1 {
    font-size: 2.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    margin-bottom: 30px;
}

.hero-section a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db; /* Change the color to your preference */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
}


</style>